<!-- Main view -->
<div>

  <div class="alert alert-info"><strong>{{ '_YOUR_API_KEY' | translate }}</strong> {{ vm.userApiKey }}</div>

  <!-- Row -->
  <div class="row">

    <div ng-class="{'col-md-6': vm.favoriteTower, 'col-md-12': !vm.favoriteTower}">
      <last-claimed-tower tower="vm.lastClaimedTower"></last-claimed-tower>
    </div>

    <div class="col-md-6" ng-if="vm.favoriteTower">
      <favorite-tower tower="vm.favoriteTower" ng-if="vm.favoriteTower"></favorite-tower>
    </div>

  </div>
  <!-- / Row -->

  <!-- Row -->
  <div class="row">
    <div class="col-md-12">

      <towers-claimed claims="vm.claimedTowers"
        filter="vm.paginate"
        sort-by="vm.sortBy"
        pagination="vm.pagination">
      </towers-claimed>

    </div>
  </div>
  <!-- / Row -->



</div>
<!-- / Main view -->
