<div class="content-header">

  <div class="container">
    <h1 translate="_TOWERS"></h1>
    <h2 translate="_TOWERS_SUBTITLE"></h2>
  </div>

</div>

<div class="tower-container container">
  <div class="heading">
    <h1 class="page-title" translate="_TOWERS" ></h1>
  </div>

  <table ng-table="vm.towers" class="table table-striped">
    <tr ng-repeat="tower in $data">
      <td data-title="'_TOWER' | translate" filter="{tower_name: 'text'}" sortable="'name_sort'"><a ui-sref="tower({id: tower.tower_id})">{{ tower.tower_name || 'ID: ' + tower.tower_id }}</a></td>
      <td data-title="'_BUILD_DATE' | translate" filter="{created_on: 'text'}" sortable="'created_on'">{{ tower.created_on | date }}</td>
      <td data-title="'_COUNTRY' | translate" filter="{country: 'text'}" sortable="'country'">{{ tower.country }}</td>
      <td data-title="'_ADDRESS' | translate" filter="{formatted_address: 'text'}" sortable="'formatted_address'">{{ tower.formatted_address }}</td>
    </tr>
  </table>

</div>
